@font-face {
    font-family: 'GothamPro';
    src: local(''),
         url('/fonts/gothampro/gothampro_blackitalic.ttf') format('truetype')
}

a {
    width: fit-content;
    color: black;
    text-decoration:none;
}
a:hover {
    color: black;
    text-decoration:none;    
}

h5 {
    border-bottom: 1px solid #ccc;
    font-weight: 400;
    font-size: 17px;
}
h5:hover {
    border-bottom: 1px solid #ff6429;
}

.mainFrame {
    position: relative;
    max-width: 1800px;
    margin: 30px 55px;
}

.headerRow{
    align-items: center;
}
.headerText{
    color: #333;
    font-family: 'GothamPro';
    font-size: 13px; 
    line-height: 1; 
    text-transform: uppercase;
    vertical-align: middle;
    margin: 0;
    height: 100%;
}
.logo {
    height: 50px;
}

.menu {
    padding-bottom: 1px;
    border-bottom: 1px solid transparent;
}
.menu:hover {
    border-bottom: 1px solid #ff6429;
}

.bullits {
    margin-top: 25px; 
    display: flex;
    justify-content: center; 
    align-items: center;
    font-weight: 400
}

.contactItem {
    width: fit-content;
}
.contactItem span {
    display: flex;
    justify-self: flex-start;
    color: grey;
    font-size: .75rem; 
    line-height: .9rem;
    text-align: right;
    vertical-align: top; 
    margin-right: 0;
    margin-top: 0; 
    padding: 0
}

.flex {
    display: flex;
}

.column {
    flex-direction: column;
}

.cRight {
    align-items: flex-end;
}
.cTop {
    justify-content: flex-start;
}

.center {
    justify-content: center;
    align-items: center;
}