@font-face {
    font-family: 'GothamPro';
    src: local(''),
         url('/fonts/gothampro/gothampro.ttf') format('truetype')
}
@font-face {
    font-family: 'GothamProItalic';
    src: local(''),
         url('/fonts/gothampro/gothampro_italic.ttf') format('truetype')
}

body {
    background-color: #fafafa;
    padding-left: 55px;
    padding-right: 55px;
    margin: 0;
    font-family:  'Roboto','GothamPro', sans-serif;
}

a {
    width: fit-content;
    color: black;
    text-decoration:none;
}
a:hover {
    color: black;
    text-decoration:none;    
}


h1 {
    font-weight: bold;
}

h5 {
    border-bottom: 1px solid #ccc;
    font-weight: 400;
    font-size: 17px;
}
h5:hover {
    border-bottom: 1px solid #ff6429;
}

.mainFrame {
    position: relative;
    padding-top: 30px;
    padding-bottom: 30px;
}

.pageTitle {
    margin-top: 65px;
    display: flex;
    justify-content: center;
    font-weight: 600;
}

.headerRow{
    align-items: center;
}
.headerText{
    color: #333;
    font-family: 'GothamPro';
    font-size: 13px; 
    font-style: italic;
    font-weight: bold;
    line-height: 1; 
    text-transform: uppercase;
    vertical-align: middle;
    margin: 0;
    height: 100%;
}
.logo {
    height: 50px;
    float: left;
}

.menu {
    padding-bottom: 1px;
    border-bottom: 1px solid transparent;
}
.menu:hover {
    border-bottom: 1px solid #ff6429;
}

.bullits {
    margin-top: 25px; 
    display: flex;
    justify-content: center; 
    align-items: center;
    font-weight: 400
}

.contactItem {
    float:right;
    margin-right: 10px;
    width: fit-content;
}
.contactItem span {
    display: flex;
    flex-wrap: wrap;
    justify-self: flex-start;
    color: grey;
    font-size: .75rem; 
    line-height: .9rem;
    text-align: right;
    vertical-align: top; 
    margin-right: 0;
    margin-top: 0; 
    padding: 0
}


.catMenu {
    padding: 7px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    text-align: right;
    width:260px;
    background-color: white;
    border: none;
    font-size: 12px;
}
.submenu {
    padding: 7px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    text-align: left;
    min-width:500px;
    background-color: white;
    border: none;
    font-size: 12px;
}
.submenu:hover {
    background-color: #edf0f6;
}
.submenu span {
    margin-left: 15px;
    font-size: 8px;
}

.categorySelector {
    position: relative;
    display: flex;
    align-items: center;
    justify-self: center;
    justify-content: center;
    gap:10px;
    width: 90%;
    margin-top: 40px;
    margin-bottom: 0px;
    margin-right: auto;
    margin-left: auto;
}
.categoryName {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 2rem;
    pointer-events: none;
}
.category {
    display: flex;
    flex-direction: column;
    background-color: transparent;
    box-shadow: none;
    border: 1px solid #ccc;
    position:relative;
    align-items: center;
    text-align: center;
    justify-content: baseline;
    font-size: 14px;
    gap:10px;
    color: #333;
    border-radius: 20px;
    padding-top: 10px;
    margin:0;
    padding-bottom: 10px;
    padding-left: 0;
    padding-right: 0;
    min-width: 180px;
    height:95px;
    z-index: 111    ;
}
.category:after{
    content:"";
    position:absolute;
    height:0;
    width:0;
    left: calc(50% - 50px);
    top:100%;
    border:50px solid transparent;
    border-top: 7px solid transparent;
    pointer-events: none;
    z-index: 111;
}
.category:hover  {
    border-color: #ff6429;
}
.category:hover:after {
    border:50px solid transparent;
    border-top: 7px solid #ff6429;
    z-index: 111;
}

.subCatSelector {
    display: flex;
    flex-direction: column;
    position: absolute;
    top:110px;
    left:-1px;
    align-items: baseline;
    border-radius: 10px;
    min-width: 280px;
    margin-left: -60px;
    margin-right: -60px;
    background-color: #fff;
    padding-top: 15px;
    padding-right: 10px;
    padding-bottom: 10px;
    z-index: 88;
}
.subCategoryHelper {
    background-color: rgba(255,255,255,.01);
    position: absolute;
    bottom: -19px;
    height:20px;
    width:150px;
    z-index: 1000;
}
.subCategory {
    display: flex;
    flex-wrap: wrap;
    position:relative;
    text-align: left;
    align-items: center;
    font-size: 12px;
    width:100%;
    min-height: 2.5rem;
    line-height: 1.2;
    color: #555;
    padding: 5px    ;
    padding-left: 15px;
    margin:0;
    border:none;
    border-left:1px solid transparent;
    background-color: transparent;
}
.subCategory:hover {
    color: #333;
    font-weight: 600;
    border-left:2px solid #ff6429;
}


.flex {
    display: flex;
}

.column {
    flex-direction: column;
}

.cRight {
    align-items: flex-end;
}
.cTop {
    justify-content: flex-start;
}

.center {
    justify-content: center;
    align-items: center;
}


.col {
    padding:0;
    margin:0;
}

.notFound {
    width: 100%;
    height: 300px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.cart-hr {
    background-color: #ccc;
    height: 1px;
    width:100%;
}

.aimrow {
    display:flex;
}
.aimcol {
    display:flex;
    flex-direction:column;
}
